*{
    margin-left: 0px;
}

.dash-mail-img{
    border-radius: 50%;
}

.dashboard{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-column-gap:1px;
    background-color: #f8fafa;
    font-weight: normal;
    
}
.row{
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    /* grid-column-gap:1px; */
    font-weight: normal;
    text-align: center;
}
#dashboard-1{
    width: max-content;
    height: 15cm;
    /* background-color: white; */
    width: fit-content;
    
}
.dashboard > #dashboard-1{
    background-color: rgba(234, 236, 236, 0.918);
    padding: 20px 0;
    padding-right: 35px;
    padding-left: 10px;
}

.dash-mail-img{
    height: 100px;
    width: 100px;
}
img{
    padding-top: 10px;
    padding-left: 20px;
    margin-right: 100px;
}
#dashboard-2{
    padding-top: 30px;
    /* padding-bottom: 10px; */
}
.student-dashboard-content-1,.student-dashboard-content-2,.student-dashboard-content-3{
    padding-left: 20px;
    padding-top: 20px;
}
.student-dashboard-content-1:before{
    content: "";
    display: block;
    background: url("../imgs/admin-password.png") no-repeat ;
    background-size: cover;
    width: 17px;
    height: 17px;
    float: left;
    margin: 0 6px 0 0;
}
.student-dashboard-content-2:before{
    content: "";
    display: block;
    background: url("../imgs/update-profile.png") no-repeat ;
    background-size: cover;
    width: 17px;
    height: 17px;
    float: left;
    margin: 0 6px 0 0;
}
.student-dashboard-content-5:before{
    content: "";
    display: block;
    background: url("../imgs/admin-password.png") no-repeat ;
    background-size: cover;
    width: 17px;
    height: 17px;
    float: left;
    margin: 0 6px 0 0;
}
.student-dashboard-content-4:before{
    content: "";
    display: block;
    background: url("../imgs/update-profile.png") no-repeat ;
    background-size: cover;
    width: 17px;
    height: 17px;
    float: left;
    margin: 0 6px 0 0;
}
.student-dashboard-content-3:before{
    content: "";
    display: block;
    background: url("../imgs/feedback.png") no-repeat ;
    background-size: cover;
    width: 17px;
    height: 17px;
    float: left;
    margin: 0 6px 0 0;
}

/* update-password.html css  */

#password-1,#password-2,#password-3{
    padding: 7px;
    border-radius: 5px;
    padding-right: 200px;
    /* border: none */
}
#password-1{
    margin-left: 170px;
}
#password-2{
    margin-left: 162px;
}
#password-3{
    margin-left: 137px;
}

/* update-profile.html css code */

#update-profile-name,#update-profile-mail,#update-profile-phone{
    padding: 7px;
    border-radius: 5px;
    padding-right: 200px;
}
#update-profile-name{
    margin-left:160px;
}
#update-profile-mail{
    margin-left:162px;
}
#update-profile-phone{
    margin-left:155px;
}

#gender{
    margin-left: 140px;
    padding: 7px;
    border-radius: 5px;
    padding-right: 200px;
}
#hobbies{
    margin-left: 135px;
    padding: 7px;
    border-radius: 5px;
    padding-right: 200px;
}
#dob{
    margin-left: 212px;
    padding: 7px;
    border-radius: 5px;
    padding-right: 260px;
}
.btn-default{
    margin-right: 10px;
}

/* admin-login.html css work */

#dropdown-admin-login:before {
    content: "";
    display: block;
    /* margin-top: 10px; */
    background: url("../imgs/home.png") no-repeat ;
    background-size: cover;
    background-position-y: top;
    width: 17px;
    height: 17px;
    float: left;
    margin: 0 6px 0 0;
}
#dropdown-admin-login{
    padding-top: 5px;
}
/* ------------------------ */
.student-dashboard-content-11:before{
    content: "";
    display: block;
    background: url("../imgs/admin-password.png") no-repeat ;
    background-size: cover;
    width: 17px;
    height: 17px;
    float: left;
    margin: 0 6px 0 0;
}
.student-dashboard-content-12:before{
    content: "";
    display: block;
    background: url("../imgs/update-profile.png") no-repeat ;
    background-size: cover;
    width: 17px;
    height: 17px;
    float: left;
    margin: 0 6px 0 0;
}
.student-dashboard-content-15:before{
    content: "";
    display: block;
    background: url("../imgs/admin-password.png") no-repeat ;
    background-size: cover;
    width: 17px;
    height: 17px;
    float: left;
    margin: 0 6px 0 0;
}
.student-dashboard-content-14:before{
    content: "";
    display: block;
    background: url("../imgs/update-profile.png") no-repeat ;
    background-size: cover;
    width: 17px;
    height: 17px;
    float: left;
    margin: 0 6px 0 0;
}
.student-dashboard-content-13:before{
    content: "";
    display: block;
    background: url("../imgs/feedback.png") no-repeat ;
    background-size: cover;
    width: 17px;
    height: 17px;
    float: left;
    margin: 0 6px 0 0;
}